<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="PushSanamaServiceSoapBinding">
                    <security defaultAlgorithmSuite="Basic256Sha256Rsa15" authenticationMode="MutualCertificate"
                        requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
          <endpoint address="http://services.ecogif.ir/ESB/services/PushSanama_v1_0"
              binding="customBinding" bindingConfiguration="PushSanamaServiceSoapBinding"
              contract="SanamaService.PushSanama" name="PushSanamaPort">
            <identity>
              <dns value="servicebus.ecogif.ir"/>
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>